body {
  background-color: #ede7f6;
  padding: 10px;
}

#theme-stripe {
  background-color: #a4b1c3;
  color: black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 10px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
}

#title {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  color: #202124;
  line-height: 135%;
  max-width: 100%;
  min-width: 0%;
}

#description {
  white-space: pre-wrap;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #202124;
  margin-top: 12px;
}

span {
  color: red;
  font-weight: 500;
}

.form-card, #header-img, #form-wrapper {
  box-sizing: border-box;
  margin: auto;
  max-width: 50vw;
}

#header-img {
  border-radius: 8px;
  margin-bottom: 12px;
  box-shadow: 0px 0px 6px #9d9b9b;
}
#header-img img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.form-card {
  padding: 22px 24px 16px;
  position: relative;
  border-radius: 8px;
  margin-bottom: 12px;
  box-shadow: 0px 0px 6px #9d9b9b;
  display: flex;
  flex-direction: column;
  background: white;
}
.form-card label {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.132em;
  font-size: 16px;
}
.form-card.user-recomondation .hint, .form-card.user-suggestions .hint {
  margin: 0px 0px 16px;
}
.form-card.user-recomondation label, .form-card.user-suggestions label {
  display: flex;
  margin: 0px 0px 8px;
  font-family: Roboto, Arial, sans-serif;
}
.form-card input:not([type=radio]), .form-card textarea {
  width: 50%;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-color: #ede7f6;
  padding: 12px 0 12px;
  margin-top: 12px;
  transition: border-bottom-color 0.6s cubic-bezier(0, 0, 0.41, 1.28);
}
.form-card input[type=checkbox], .form-card input[type=radio] {
  width: 20px;
  height: 20px;
  margin: 0px 16px 0px 0px;
}
.form-card input[type=checkbox] {
  accent-color: #a4b1c3;
  transition: box-shadow 0.6s cubic-bezier(0, 0, 0.41, 1.28);
}
.form-card input[type=checkbox]:focus {
  box-shadow: 0 0 13px 4px #a4b1c3;
}
.form-card input[type=radio] {
  border-radius: 10px;
  background: none;
  border: 0;
  box-shadow: inset 0 0 0 1.5px #a4b1c3;
  appearance: none;
  padding: 0;
  transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
  pointer-events: none;
}
.form-card input[type=radio]:focus {
  outline: none;
}
.form-card input[type=radio]:checked {
  box-shadow: inset 0 0 0 7px #a4b1c3, 0 0 13px 4px #a4b1c3;
}
.form-card select {
  width: 50%;
  padding: 1em 1em 1em 0;
  margin-top: 12px;
  background-color: transparent;
  border: 1px solid #ede7f6;
  display: inline-block;
  font-size: 16px;
}
.form-card textarea {
  border-bottom: 1px solid #9a78cc;
  resize: none;
  width: 100%;
}
.form-card .error {
  margin-top: 21px;
  display: flex;
  align-items: center;
  display: none;
}

textarea:focus, input:not([type=radio]):not([type=checkbox]):focus, select:focus {
  outline: none;
  border-bottom-color: #a4b1c3;
}

button {
  background-color: #677c9a;
  color: #ede7f6;
  outline: none;
  border: none;
  border-radius: 9px;
  width: auto;
  height: auto;
  padding: 17px 26px;
  font-weight: 700;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.2em;
  background-color: #ede7f6;
  color: #52647c;
}

svg {
  fill: #E8413B;
}

a {
  padding-left: 0.3em;
}

@media only screen and (max-width: 1024px) {
  .form-card, #header-img, #form-wrapper {
    max-width: 100%;
  }

  .form-card input:not([type=radio]):not([type=checkbox]), .form-card select {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
